<% provide(:title, 'Home') %>
<body class="homepage">
<div class="text-center jumbotron signin" >
  <h1 class="trailslayer">TRAIL SLAYER</h1>
 <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %>

</div>

</body>
