@import "yeti-variables.scss";
@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";


body {
  padding-top: $navbar-height + 10px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Slovakia_-_background_map_gery.png")
  }

.form-control{
    background-color: rgba(255,255,255,.6)

}
.table-responsive {
  background-color: rgba(255,255,255,.6)
}
 .jumbotron {
  background-color: rgba(255,255,255,.6)
}
.dl-horizontal {
 background-color: rgba(255,255,255,.6)
}

main {
  margin: 50px auto;
  width: 800px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}




.trails {
  th, td {
    text-align:center
  }
}
