@import "yeti-variables.scss";
@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";


body {
  padding-top: $navbar-height + 10px;

  }



main {
  margin: 50px auto;
  width: 800px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}




.trails {
  th, td {
    text-align:center
  }
}
